<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="css/constume.css" />

        <script
            src="https://kit.fontawesome.com/a10c199002.js"
            crossorigin="anonymous"
        ></script>

        <title>Sản Phẩm</title>
    </head>
    <body>
            <div class="promotion">
                <p> &#183 <i class="fas fa-truck"></i> Hi {{name}}! Free shipping on 3 cups or more within 20kms &#183
                </p>
            </div>
        
            {{>navbar}}

            <div id = "home">
                <a class = "ho" id = "Home" href = "https://kacoffee.herokuapp.com/">Home</a>
                <h6 class = "ho">
                    >     
                </h6>
                <h6  class = "ho" id = "sp">
                    Sản Phẩm
                </h6>
            </div>
            <div id = "filter">
                <ul class = "fil">
                    <li>
                        <i class="fas fa-filter"></i>
                         <h5 class = "fil" id = "loai">Loại : </h5>
                    </li>
                    <li>                        
                            <input class="fil" type="checkbox" onclick=Filter() name = "FilterCheckbox"  id="Caphe">
                           <label  for="Caphe">
                               Cà phê
                             </label>                         
                    </li>
                    <li>               
                        <input class="fil" type="checkbox" onclick="Filter()" name = "FilterCheckbox" id="Trasua">
                        <label  for="Trasua">
                            Trà sữa
                        </label> 
                    </li>
                    <li>
                        <input class="fil" type="checkbox" onclick="Filter()" name = "FilterCheckbox" value="" id="Nuocep">
                     <label  for="Nuocep">
                        Nước hoa quả
                     </label>                 
                    </li>
                </ul>
            </div>
            <script language="javascript">
                function Filter() {
                    var checkboxFilter = document.getElementsByName("FilterCheckbox");
                    var caphe = document.getElementsByName("caphe");
                    var trasua = document.getElementsByName("trasua");
                    var hoaqua = document.getElementsByName("hoaqua");
                    if (checkboxFilter[0].checked === false) {
                        for (var i = 0; i<caphe.length; i++) {
                            caphe[i].style.display="none";
                        }
                    }
                    else {
                        for (var i = 0; i<caphe.length; i++) {
                            caphe[i].style.display="block";
                        }
                    }
                    if (checkboxFilter[1].checked === false) {
                        for (var i = 0; i<trasua.length; i++) {
                            trasua[i].style.display="none";
                        }
                    }
                    else {
                        for (var i = 0; i<trasua.length; i++) {
                            trasua[i].style.display="block";
                        }
                    }
                    if (checkboxFilter[2].checked === false) {
                        for (var i = 0; i<hoaqua.length; i++) {
                            hoaqua[i].style.display="none";
                        }
                    }
                    else {
                        for (var i = 0; i<hoaqua.length; i++) {
                            hoaqua[i].style.display="block";
                        }
                    }
                    if (checkboxFilter[0].checked === false && checkboxFilter[1].checked === false && checkboxFilter[2].checked === false) {
                        for (var i = 0; i<caphe.length; i++) {
                            caphe[i].style.display="block";
                        }
                        for (var i = 0; i<trasua.length; i++) {
                            trasua[i].style.display="block";
                        }
                        for (var i = 0; i< hoaqua.length; i++) {
                            hoaqua[i].style.display="block";
                        }
                    } 
               }
               </script>

            <div class="product-grids-all">
                <ul class = "products">
                    <li name = "caphe" >
                        <div class = "product-item">
                            <div class = "image">
                                <div class = "img">
                                    <a href = "https://facebook.com"><img width = 240  src = "images/pd1.png"></a>
                                </div>
                            </div>
                            <div class="stars">                               
                                <form action="">                                 
                                  <label class="star star-5" for="star-5"></label>                                  
                                  <label class="star star-4" for="star-4"></label>                                 
                                  <label class="star star-3" for="star-3"></label>                                 
                                  <label class="star star-2" for="star-2"></label>                                
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">Cà phê nâu 250ml</h4>
                                <h5 href = "" class = "product-cost">95 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng
                                </button>
                                
                            </div>
                            
                        </div>
                    </li>
                    <li name = "caphe">
                        <div class = "product-item">
                            <div class = "image">
                                <a href = "https://facebook.com"><img width = 240  src = "images/pd2.png"></a>
                            </div>
                            <div class="stars">                               
                                <form action="">                                
                                  <label class="star star-5" for="star-5"></label>
                                  <label class="star star-4" for="star-4"></label>
                                  <label class="star star-3" for="star-3"></label>
                                  <label class="star star-2" for="star-2"></label>
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">White KA 200ml</h4>
                                <h5 href = "" class = "product-cost">80 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng </button>
                            </div>
                        </div>
                    </li>
                
                    <li name = "caphe">
                        <div class = "product-item">
                            <div class = "image">
                                <a href = "https://facebook.com"><img width = 240  src = "images/pd3.png"></a>
                            </div>
                            <div class="stars">                               
                                <form action="">                                 
                                  <label class="star star-5" for="star-5"></label>                                  
                                  <label class="star star-4" for="star-4"></label>                                 
                                  <label class="star star-3" for="star-3"></label>                                 
                                  <label class="star star-2" for="star-2"></label>                                 
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">Nâu Khói 100ml</h4>
                                <h5 href = "" class = "product-cost">40 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </li>
                    <li name = "trasua">
                        <div class = "product-item">
                            <div class  = "image">
                                <a href = "https://facebook.com"><img width = 240  src = "images/pd4.png"></a>
                            </div>
                            <div class="stars">
                            
                                <form action="">                                 
                                  <label class="star star-5" for="star-5"></label>                                 
                                  <label class="star star-4" for="star-4"></label>                                 
                                  <label class="star star-3" for="star-3"></label>                                 
                                  <label class="star star-2" for="star-2"></label>                                 
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">Trà sữa Macchiato</h4>
                                <h5 href = "" class = "product-cost">50 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </li>
                    <li name = "trasua">
                        <div class = "product-item">
                            <div class  = "image">
                                <a href = "https://facebook.com"><img width = 240  src = "images/pd5.png"></a>
                            </div>
                            <div class="stars">                           
                                <form action="">                                
                                  <label class="star star-5" for="star-5"></label>                                 
                                  <label class="star star-4" for="star-4"></label>                                 
                                  <label class="star star-3" for="star-3"></label>                                 
                                  <label class="star star-2" for="star-2"></label>                                  
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">Trà sữa trân châu</h4>
                                <h5 href = "" class = "product-cost">55 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </li>
                    <li name = "hoaqua">
                        <div class = "product-item">
                            <div class  = "image">
                                <a href = "https://facebook.com"><img width = 240  src = "images/pd6.png"></a>
                            </div>
                            <div class="stars">
                            
                                <form action="">                          
                                  <label class="star star-5" for="star-5"></label> 
                                  <label class="star star-4" for="star-4"></label>                      
                                  <label class="star star-3" for="star-3"></label>                      
                                  <label class="star star-2" for="star-2"></label>
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">Trà đào cam sả</h4>
                                <h5 href = "" class = "product-cost">55 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </li>
                    <li name = "caphe">
                        <div class = "product-item">
                            <div class  = "image">
                                <a href = "https://facebook.com"><img width = 240  src = "images/pd7.png"></a>
                            </div>
                            <div class="stars">                            
                                <form action="">
                                  <label class="star star-5" for="star-5"></label>                                
                                  <label class="star star-4" for="star-4"></label>                                
                                  <label class="star star-3" for="star-3"></label>                                
                                  <label class="star star-2" for="star-2"></label>                               
                                  <label class="star star-1" for="star-1"></label>
                                </form>
                              </div>
                            <div class = "product-info">
                                <h4 class = "product-name">Cà phê sữa đá</h4>
                                <h5 href = "" class = "product-cost">55 000đ</h5>
                                <div class = "number">
                                    <span class = "Soluong">
                                        Số lượng
                                    </span>
                                    <span>
                                        <input class = "num" type="number" value = "1" min = "1" max = "100"/>
                                    </span>
                                </div>
                                <button class = "add" type = "button" >
                                    <i class="fas fa-cart-plus"></i>
                                    Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
        
            

        


        <footer>
                <div class="container-fluid footer-stay-in-touch align-items-center p-2" style="background-image: url(images/bg_footer_20_q60.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="display: inline-block;">
                                    <h1 style="font-size: 25px;">STAY IN TOUCH WITH US</h1>
                                    <hr>
                                    <p class="uppercase">Subscribe to our newsletter</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="uppercase">Our email subscribers will receive first access to special offers and limited releases.</p>
                                <button class="subscribe">SUBSCRIBE</button>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="container-fluid footer-contact-info">
                    <div class="container">
                        <div class="row">   
                            <div class="col-md-6 contact" >
                                <div class="title">CONTACT US</div>
                                <div class="phone-number">1800-2001</div>
                                <div class="email">KACoffee@mail.com</div>
                                <address>
                                    Num 123, 456, Hanoi<br>
                                    Vietnam
                                </address>
                            </div>
                            <div class="col-md-6">
                                <div class="title">FIND US ON</div>
                                <address>
                                    <a class="item facebook" href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a class="item tiktok" href="#"><i class="fab fa-tiktok"></i></a>
                                    <a class="item instagram" href="#"><i class="fab fa-instagram"></i></a>
                                    <a class="item youtube" href="#"><i class="fab fa-youtube"></i></a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
    </body>
</html>