@media only screen and (max-width: 767.98px) {
    .productList1 {
        margin: 5px !important;
    }
}

.checkout {
    margin-top: 60px;
}

.productList1 {
    margin-left: 10vw;
    margin-right: 10vw;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.place-order-box {
    padding: 10px;
}

.place-order-btn {
    background-color: chocolate;
    color: white;
    border: none;
    padding: 5px;
    font-weight: bold;
}
