* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: aliceblue;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container-1 {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    border-radius: 5px 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#square-1 {
    display: flex;
    min-width: 400px;
    min-height: 500px;
    margin-bottom: 100px;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in;
}

.front-1,
.right-1,
.left-1 {
    width: 400px;
    height: 500px;
    padding: 40px;
    display: flex;
    border-radius: 5px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #d3d3d3;
}

.front-1 {
    transform: translateZ(50px);
}

.right-1 {
    transform: rotateY(90deg) translateZ(50px);
}

.left-1 {
    transform: rotateY(-90deg) translateZ(50px);
}

.actions-1 button {
    border: 0;
    outline: none;
    font-size: 20px;
    min-height: 30px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: aqua;
}

.container-1 h1 {
    font-size: e35px;
    margin-bottom: 15px;
    color: #000;
}
.container-1 p {
    font-size: 20px;
    color: #000;
}

.input-box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}
.input-box input {
    margin-bottom: 15px;
    border: 0;
    padding: 10px 8px;
    min-height: 40px;
    font-size: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}
.container-1 button {
    border: 0;
    padding: 10px 0;
    outline: none;
    min-height: 30px;
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    background-color: aqua;
    margin-bottom: 15px;
}
.input-box {
    margin: 31px auto;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 2px;
}
.input-box input {
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
}

@media (min-width: 600px) {
    .container-1 {
        width: 500px;
        padding: 50px 100px;
        height: 500px;
    }
}
