p {
    color: black;
    font-size: 0.7rem;
}
.p-3 {
    color: #d8363a;
}
h5,
h1 {
    text-align: center;
}

#main {
    display: flex;
    align-items: center;
    margin: 100px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#hide1 {
    display: none;
}
.login-btn {
    margin: 40px auto 20px;

    width: 40%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid red;
    cursor: pointer;
    background: red;
    color: #fff;
}
@media only screen and (max-width: 767.98px) {
    #square {
        width: 400px;
    }
}
