p {
    font-size: 0.7rem;
}
.p-3 {
    color: #d8363a;
}
#mid {
    margin-bottom: 100px;
}

@media only screen and (max-width: 767.98px) {
    #mid {
        padding: 10px;
    }
    .login-btn {
        margin-top: 10px;
    }
    .col1 {
        margin-bottom: 20px;
    }
}
