#Title {
    text-align: center;
    font-weight: bold;
    background-color: bisque;
    padding: 30px;
}

.username {
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 700px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.email {
    width : 300px;
}
.product-item {
    /* padding-right: 10%; */
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

ul.products {
    width: 95%;
    max-width: 1100px;
    display : inline-block;
    list-style: none;
}
.product {
    margin-bottom: 100px;
}
.product-info {
    width: 200px;
    max-width: 55%;
}
.product-img {
    max-width: 80%;
    margin-left: 10%;
}
.Soluong {
    font-size: larger;
}
.delete {
    width: 200px;
    text-align:center;
}
.delete-child {
    width: 190px;
    display: inline-block;
    border: 3px solid black;
    background-color: cornsilk;
}
.complete {
    margin-left: 5%;
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.admit {
    border: 3px solid black;
    width: 200px;
    text-align: center;
    background-color: burlywood;
    font-size: larger;
}