body,
html {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    font-size: 14px;
    background: #f6f6f6;
    color: #333;
}
.has-siderbar {
    margin-left: 220px;
}
.order-container {
    /* position: relative; */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /* margin: 0 auto; */
    min-width: 0;
    padding-bottom: 72px;
}
.order {
    /* position: relative; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 56px;
}
.page-content-wrapper {
    width: 1104px;
    margin: 0 auto;
}
.portal-sale-root {
    margin-top: 16px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}
.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    overflow: hidden;
    text-align: center;
}
.tab-nav {
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
}
.active {
    font-weight: 600;
    color: #ee4d2d;
}
.order-list-section {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 10px;
}
.order-list-panel {
    padding-bottom: 10px;
}

.order-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: #a19e9e;
    /* border-radius: 4px; */
    color: #757575;
    font-size: 14px;
    border: 1px solid #e8e8e8;
}
.padding-wrap {
    margin-top: 24px;
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-left: 24px;
}
.order-search {
    margin-bottom: 40px;
}
.order-search-container {
    display: flex;
}
.search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-right: 16px;
}
/* .input-label {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
} */
/* .input-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
} */
/* .btn-search {
    margin-right: 12px;
    color: #fff;
    background-color: #ee4d2d;
    border-color: #ee4d2d
} */
.order-panel-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 24px auto;
}
.title {
    word-break: break-word;
    font-size: 22px;
    font-weight: 500;
    color: #333;
    /* font-weight: var(--font-weight); */
}
.order-list {
    /* position: relative; */
    margin: 0 auto;
    width: auto;
}
.order-name {
    margin-right: 16px;
    min-width: 150px;
    max-width: 150px;
    /* -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; */
}
.order-status {
    margin-right: 16px;
    min-width: 150px;
    max-width: 150px;
}
.order-address {
    margin-right: 16px;
    min-width: 350px;
    max-width: 350px;
}
.order-phone {
    margin-right: 16px;
    min-width: 150px;
    max-width: 150px;
}

.order-list-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* padding: 12px 16px; */
    /* background: #f6f6f6; */
    color: #757575;
    font-size: 14px;
    /* border: 1px solid #e8e8e8; */
}
.item-name {
    margin-right: 16px;
    min-width: 150px;
    max-width: 150px;
}

.mr-0 {
    margin-right: 0;
}
.ml-auto {
    margin-left: auto;
}
