@font-face {
    font-family: 'Neutra Text';
    src: url(../../utils/fonts/NeutraText-Book.otf);
}

body {
    font-family: 'Neutra Text';
}

.navbar {
    background-color: white;
    overflow: visible;
}

.navbar-brand img {
    padding-top: 5px;
    background-color: black;
    height: 64px;
    border-bottom-right-radius: 15px;
}

.navbar .login {
}

.login .logindropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #c4c3c3;
    width: 200px;
    left: -100px;
    padding: 10px;
}

.login:hover .logindropdown {
    display: block;
}

.sidebar {
    padding: 10px;
}

.sidebar-item {
    margin: 10px;
    padding: 5px;
    background-color: #bba587;
    cursor: pointer;
}

.dashboard {
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(104, 93, 79);
}

.login {
    cursor: pointer;
}

.login {
    position: relative;
}

.login .logindropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #c4c3c3;
    width: 200px;
    left: -100px;
    padding: 10px;
}

.login a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.login i {
    cursor: pointer;
}

.login:hover .logindropdown {
    display: block;
}

.loginclicked {
    display: block !important;
}

.login .logindropdown button {
    background-color: white;
}
